@import './node_modules/bulma/bulma';

.title, .subtitle {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.board {
  width: 100%;
  height: 100%;
  max-width: 480px;
  margin: 0 auto;
  box-shadow: 0px 7px 18px rgba(0, 0, 0, 0.3);
  background: #FFF;
  border-radius: 8px;
  tr {
    border-bottom: 2px solid #666;
    &:last-child {
      border-bottom: 0;
    }
  }
  td {
    width: 33%;
    position: relative;
    border-right: 2px solid #666;
    &:last-child {
      border-right: 0;
    }
    &:hover {
      background: #f7f7f7;
      border-radius: 8px;
    }
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    div {
      cursor: pointer;
      font-size: 120px;
      position: absolute;
      top: 42%;
      transform: translateY(-50%);
      text-align: center;
      left: 0;
      right: 0;
      font-weight: bold;
    }
  }
}

.o {
  background: -webkit-linear-gradient(#fb7231, #edd271);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.x {
  background: -webkit-linear-gradient(#3778f8, #83ded6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
